<table class="tbl">
    <thead class='head'>
      <tr >
        <th >#</th>
        <th >First</th>
        <th >
         <app-attendance-type></app-attendance-type>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeeData">
        <th >{{item.id}}</th>
        <td>{{item.nickName}}</td>
        <td class="dropdown" style="text-align: center;">
          <form action="">
            <app-attendance-type (getSelectedValue)="addSelectedValueToFormData($event,item.id)"></app-attendance-type>
          </form>

        </td>
      </tr>
      
    </tbody>
  </table>


