/* style.css */


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  a{
    padding: 5px;
  }
  a:hover{
    background-color: #fff;
    border-radius: 3px;
  }
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e5e5e5;
}

.icon-yes {
  color: green;
}

.icon-no {
  color: red;
}
