<!-- custom-dropdown.component.html -->
<div class="custom-dropdown" #dropdownContainer>
    <div class="dropdown-display" (click)="toggleOptions();assignDropdownElement(dropdownContainer)" >
      <i class="fas {{selectedOption.icon}} {{selectedOption.color}}"></i>
      <span>{{ selectedOption.name }}</span>
    </div>
    <ng-container *ngIf="showOptions">
      <div class="dropdown-options">

        <ul  *ngFor="let option of dropdownOptions">
          <li (click)="onOptionSelected(option)"> <i class="fas {{option.icon}} {{option.color}}"></i> {{option.name}}</li>
        </ul>
      </div>
    </ng-container>
    
  </div>
