$bg_white : #dde6dd;
$red : #fd7364;
$yellow: #FEC868;
$blue: #0096a7;
$green: #00c0a3;
/* You can add global styles to this file, and also import other style files */
$dark_blue: #146C94;
$white : #F6F1F1;
$font : #020213;


.tbl {
  background-color: $white;
  padding: 5px;
  width: 50%;
  border: #020213;
  border-radius: 3px;
  border-width: 1px;
}

.worker-form{
  display: flex;
  flex-direction: column;
  font-family:monospace;
}
.worker-form label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 10%;
}

.form-input{
  width: 25%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.hiden{
  display: none;
}

table {
  border-collapse: collapse;margin-bottom: 10px;
}

button{
  margin: 3px;
}

a {
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 3px;
}

a:hover {
  background-color: $white;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

th {
  background-color: $font;
  color: #F6F1F1;
}

tr:hover {
  background-color: $bg_white;
}

.salary {
  width: 50%;
}

input {
  width: 70%;
}

.font_color_green {
  color: $green;
}

.font_color_red {
  color: $red;
}