/* You can add global styles to this file, and also import other style files */


@import '~@fortawesome/fontawesome-free/css/all.css';


$white : #f8fff8;
$red : #ff4040;
$yellow:#f6fa00;
$blue:#0096a7;
$black:#4b4453;
$gray:#b0a8b9;
$green:#459c1c;
$purple:#700e88;

$color-primary: #2C3333;
$color-secondary: #2E4F4F;
$color-tertiary: #0E8388;
$color-quaternary: #CBE4DE;



body{
    background-color: $white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* BUTTONS */
button{
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: none; 
}

.btn-blue{background-color: $blue;}
.btn-yellow{background-color: $yellow;}
.btn-red{background-color: $red;}

button:hover{
    opacity: 110%;
    box-shadow: 1px 1px 3px black;
}

.container{
    padding: 20px;
}

input{
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


input:focus {
  outline: none;
  border-color: #007bff;
}


