
$btn-hight :50px;
$btn-width :100px;

.subscribe{
    background-color: rgb(221, 46, 46);
    color: white;
    border-radius: 2px;
    border: none;
    height: $btn-hight;
    width: $btn-width;
    margin-right: 2px;
    cursor: pointer;
}

.subscribe:hover{
    background-color: rgb(219, 75, 75);

}



.join{
    border-radius: 2px;
    border-width: 2px;
    border-color: rgb(13, 218, 233);
    color: rgb(13, 218, 233);
    background-color: white;
    height: $btn-hight;
    width: $btn-width;
    margin-right: 2px;
    transition: background-color 0.5s;

}
.join:hover{
    background-color: aqua;
    color: aliceblue;
}

.tweet{
    border-radius:16px;
    background-color: rgb(0, 174, 243);
    border: none;
    color: white;
    font-weight: bolder;
    height: $btn-hight;
    width:$btn-width;
}

.tweet:hover{
    box-shadow: 2px 2px 3px gray;
}